
/* src/WhoWeAre.css */
.who-we-are {
  text-align: center;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}

.who-we-are h2 {
  font-weight: bold;
  font-size: 36px;
}

.who-we-are p {
  font-size: 18px;
  margin-top: -15px;
  color: #555;
}

.content {
  display: flex;
  margin-top: 65px;
  margin-left: 30vw;
  margin-right: 30vw;
  width: 40vw;
  justify-self: center;
}

.left img {
  max-width: 200px;
  max-height: 400px;
  margin-right: 4vw;
}

.right {
  text-align: left;
  margin-top: -2vh;
}

.divider {
  width: 15%;
  height: 3px;
  background-color: #2199ea;
  margin: 20px 0;
  align-self: center;
}


.read-more {
  background-color: #2199ea;
  color: white;
  padding: 15px 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0;
}

.read-more:hover {
  background-color: #0a7abb;
}

.title_black{
  color: #202020;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 4vh;
}

.smallImg{
  width: 150px;
  height: 150px;
  margin-top: -24px;
}

.divider {
  background-color: #cccccc;
  height: 3px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 20px); /* Adjusted width to accommodate padding and border */
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px; /* Added margin for spacing between input and button */
}

.form-group textarea {
  resize: vertical;
}

.formContainer{
  background-color: #e7e7e796;
  padding: 20px;
  margin-top: -10px;
}

.contact-form{
  width: 25vw;
}